.container {
  padding: 20px;
  text-align: center;
}

.button {
  padding: 10px;
  color: white;
  background-color: #28a745;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}